$color_1: white;
$background-color_1: rgb(0, 0, 0);
$background-color_2: rgba(0, 0, 0, 0.4);

.third-container {
	color: $color_1;
	height: 600px;
	background: url(../../assets/images/sol.webp);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	width: 100%;
	color: $color_1;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.text-container {
	max-width: 80%;
	margin: 0 auto;
	border: 1.2px solid black;
	text-align: center;
	background-color: $background-color_1;
	background-color: $background-color_2;
	padding: 30px;
	text-transform: uppercase;
	color: $color_1;
	box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
}
.margin-bottom {
	margin-bottom: 30px;
}
