$white: white;
$font-family_1: 'VT323', monospace;
$background-color_1: rgb(0, 0, 0);
$background-color_2: rgba(0, 0, 0, 0.4);

.part {
	color: $white;
	height: 600px;
	background: url(../../assets/images/piano.webp);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	width: 100%;
	min-width: 40vh;
	color: $white;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.main-container {
	margin: 0 auto;
	max-width: 80%;
	border: 1.2px solid black;
	text-align: center;
	background-color: $background-color_1;
	background-color: $background-color_2;
	padding: 30px;
	text-transform: uppercase;
	color: $white;
	box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
}
.white {
	color: $white !important;
	border: 1.2px black solid !important;
	box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
	margin-top: 20px;
	font-family: $font-family_1 !important;
	font-size: 1rem !important;
}
@media only screen and (max-width:768px) {
	.text {
		top: 60%;
		width: 80%;
		left: 47%;
	}
}
