.part {
  color: white;
  height: 600px;
  background: url(../../assets/images/piano.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 100%;
  min-width: 50vh;
  color: white;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.text {
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  border: 1.2px solid black;
  text-align: center;
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/opacity/see-through */
  padding: 30px;
  text-transform: uppercase;
  color: white;
  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12);
}

.white {
  color: white !important;
  border: 1.2px black solid !important;
  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12);
  margin-top: 20px;
  font-family: 'VT323', monospace !important;
  font-size: 1rem !important;
}
