.containers {
    display: grid;
    background: white;
    color:#fff;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 2px;
}

.bg1 {
    height: 210px;
    background: yellow;
    color: black;
}

.part {
    color:black;
    grid-column: 1 / 3 ;
}